.App {
  text-align: center;

}
.Carousel{
  background-color: black;
  height: 670px;
  width:  1300px;
  margin: auto;
}

/* Controls the entire body styling */
body{
  font-family: 'Times New Roman', Times, serif;
}

/* Controls the images for the Carousel */
.image{
  height: 600px;
  width:  1000px;
}

/* Controls all the a tags in the project*/
a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
